@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  background-color: #020617; /* Tailwind slate-950 */
  color: #e2e8f0; /* Tailwind slate-200 */
}
